.content {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 67px;
}

.content__profile {
  padding-bottom: 50px;
  max-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__avatar-image {
  max-width: 120px;
  border-radius: 100%;
}

.content__profile-info {
  margin: 0 auto 0 30px;
  max-width: 415px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 16px;
}

.content__profile-name {
  max-width: 373px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__profile-edit-button {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__edit-profile-button-label {
  width: 10px;
  height: 10px;
}

.content__about-me {
  max-width: 415px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__profile-add-button {
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__add-profile-button-label {
  width: 22px;
  height: 22px;
}

.content__images {
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
}

.content__card {
  max-width: 282px;
  max-height: 361px;
}

.content__image {
  max-width: 282px;
  border-radius: 10px 10px 0px 0px;
}

.content__image-tag {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__image-title {
  max-width: 222px;
  margin: 0;
  padding: 25px 0 25px 21px;
  font-weight: 900;
  font-size: 24px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__like-button {
  box-sizing: border-box;
  height: 19px;
  width: 19px;
  margin-right: 18px;
}

.content__like-button-label {
  height: 19px;
  width: 19px;
}
